---
- name: Deploy/Update application
  hosts: vm1 # лучше вынести хосты в инвентаре по группам, и ссылаться на группы, а не точечно
  # в данной задаче не ошибка, но при работе с группами хостов придется адаптировать плейбуки под хост группы
  # на случай если нужно будет заскейлить балансировщик, например
  become: true
  gather_facts: true
  
  tasks:
    - name: Pull latest application image
      community.docker.docker_image:
        name: "{{ app_docker_image | default('kirill4goodmopsa/flask-app') }}"
        source: pull
        force_source: true
      notify: restart application

    - name: Stop existing container
      community.docker.docker_container:
        name: flask-app
        state: stopped
      ignore_errors: true

    - name: Remove existing container
      community.docker.docker_container:
        name: flask-app
        state: absent
      ignore_errors: true

    - name: Run updated Flask application container
      community.docker.docker_container:
        name: flask-app
        image: "{{ app_docker_image | default('kirill4goodmopsa/flask-app') }}"
        state: started
        restart_policy: always
        env:
          DB_USER: "{{ db_user }}"
          DB_PASSWORD: "{{ db_password }}"
          DB_HOST: "postgres"
          DB_PORT: "5432"
          DB_NAME: "{{ db_name }}"
        ports:
          - "{{ app_port }}:5000"
        networks:
          - name: app_network

  handlers:
    - name: restart application
      community.docker.docker_container:
        name: flask-app
        state: started
        restart: true
