---
- name: Full deployment - Common configuration for all hosts
  hosts:  all
  become: true
  gather_facts: true
  tags:
    - common
  roles:
    - common

- name: Logging setup for all VMs
  hosts: all
  become: true
  gather_facts: true
  tags:
    - logging
  roles:
    - logging

- name: Database and Application setup on VM1
  hosts: vm1
  become: true
  gather_facts: true
  tags:
    - database
    - application
  roles:
    - database
    - application

- name: Webserver setup on VM2
  hosts: vm2
  become: true
  gather_facts: true
  tags:
    - webserver
  roles:
    - webserver
