---
- name: Install UFW
  apt:
    name: ufw
    state: present
    update_cache: true

- name: Disable UFW before configuration
  ufw:
    state: disabled

- name: Deny all incoming, allow all outgoing
  ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: incoming, policy: deny }
    - { direction: outgoing, policy: allow }

- name: Allow essential TCP ports (22, 80, 443)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: [22, 80, 443]

- name: Allow UDP port 52
  ufw:
    rule: allow
    port: 52
    proto: udp

# хардкод хоста
- name: Allow from everywhere from localmachine 
  ufw:
    rule: allow
    from_ip: 192.168.1.122

- name: Enable UFW
  ufw:
    state: enabled

- name: Install iptables-persistent (to save rules across reboots)
  apt:
    name: iptables-persistent
    state: present

- name: Flush DOCKER-USER chain to avoid duplicates
  iptables:
    chain: DOCKER-USER
    flush: true

- name: Allow all traffic from Docker networks
  iptables:
    chain: DOCKER-USER
    source: "{{ item }}"
    jump: ACCEPT
    action: insert
    state: present
    comment: "Allow Docker internal network traffic"
  loop:
    - "172.16.0.0/12"
    - "192.168.0.0/16" #

- name: Allow established and related connections
  iptables:
    chain: DOCKER-USER
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    action: insert
    state: present
    comment: "Allow established connections"

- name: Allow access to container port 5000 from Nginx host
  iptables:
    chain: DOCKER-USER
    protocol: tcp
    source: "{{ hostvars['vm2'].ansible_host }}"
    destination_port: 5000
    jump: ACCEPT
    action: insert
    state: present
    comment: "Allow Nginx host to access Flask app"

- name: Allow loopback traffic in DOCKER-USER
  iptables:
    chain: DOCKER-USER
    in_interface: lo
    jump: ACCEPT
    action: insert
    state: present
    comment: "Allow loopback"

- name: Return from DOCKER-USER to continue Docker processing
  iptables:
    chain: DOCKER-USER
    jump: RETURN
    action: append
    state: present
    comment: "Return to Docker default processing"

- name: Save iptables rules
  shell: |
    iptables-save > /etc/iptables/rules.v4
    ip6tables-save > /etc/iptables/rules.v6
  changed_when: true
  when: ansible_os_family == "Debian"
